@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/Mukta-Regular.ttf");
  font-family: "Mukta";
  font-weight: normal;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/Millik.ttf");
  font-family: "Millik";
  font-weight: normal;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
::-webkit-scrollbar {
  display: none;
}
.show-scroll::-webkit-scrollbar {
  display: block;
  background-color: #cccccc;
  width: 3px;
}
.calendly-badge-widget {
  left: 50% !important;
  margin-left: -100px !important;
  position: relative;
  height: 300px;
  width: fit-content;
  height: fit-content;
}
html {
  scrollbar-width: none; /* For Firefox */
}

/* For completeness: hide scrollbar in Webkit (Chrome, Safari) and IE */
html {
  -ms-overflow-style: none; /* IE and Edge */
  overflow: -moz-scrollbars-none; /* Firefox */
}
::-webkit-scrollbar {
  display: none;
}
